
<%=provide(:title,"Languages List")%>
<%if @languages.nil? %>
	<h3>No languages</h3>
	<%= link_to 'New Language', @languages_new_path,class:"btn btn-default"%> 
	<%end%>
<%@languages.each do |language| %>
<%=language.name%>
<%=truncate language.description %>
<br>
<%= link_to 'read more', language_path(language.id),class:"btn btn-default"%> 

<%end%>